<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="shadab" class="img-fluid" title="Shadabtechnical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <MERN class="text_spn">MERN</span> Developer.</h1>
                        <a href="https://github.com/AkhterShadab" target="_blank"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>